body{
    font-family: 'Poppins', sans-serif;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 40px;
}
/*--------------
    Header part
----------------*/
header{
    display: flex;
    justify-content: space-between;
}
.shop-name {
    font-size: 24px;
}
nav>ul {
    display: flex;
}
nav  li{
    list-style: none;
    margin-right: 2em;
}
nav li a{
    text-decoration: none;
    color: black;
}
/*------------
    Main
-------------*/
h1 {
    font-size: 60px;
    margin-bottom: 10px;
}
.top-part{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pb-button{
    text-decoration: none;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: white;
    background-color: #E02C6D;
    padding: 7px 14px;
    border-radius: 50px;
}