body{
    font-family: 'Poppins', sans-serif;
    margin-left: 120px;
    margin-right: 100px;
    margin-top: 40px;
}
/*--------------
    Header part
----------------*/
header{
    display: flex;
    justify-content: space-between;
}
.shop-name {
    font-size: 24px;
}
nav>ul {
    display: flex;
}
nav  li{
    list-style: none;
    margin-right: 2em;
}
nav li a{
    text-decoration: none;
    color: black;
}
/*------------
    Main
-------------*/
h1 {
    font-size: 60px;
    margin-bottom: 10px;
}
.top-part{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pb-button{
    text-decoration: none;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: white;
    background-color: #E02C6D;
    padding: 7px 14px;
    border-radius: 50px;
}
.brand-logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 70px;
}
/* Item part */
.collection-header{
    margin-top: 180px;
    text-align: center;
    font-size: 30px;
}
.products {
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
}
.product{
    border: 10px solid white;
    width: 300px;
    height: 476px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-bottom: 30px;
}
.product img{
    width: 300px;
    height: 256px;
}
.fa-star{
    color: #FFC014;
    font-size: 11px;
}
.fa-star-half-alt{
    color: #FFC014;
}
.rating-nmb{
    margin-left: 20px;
    color: #5E6366;
}
.prd-extra-info{
    font-size: 14px;
    color: #5E6366;
    letter-spacing: 0.018em;
}
.see-more{
    text-align: right; 
    margin-right: 40px;
}
.see-more a{
    text-decoration: none;
    color: #E02C6DDE;
}
/*---------------------
    Free-home-delivery
----------------------*/
.free-home-delivery{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.free-title{
    font-size: 40px;
    font-weight: 500;
}
.red-clr{
    color: #FF4F5A;
}
.call-us a{
    text-decoration: none;
    font-size: 16px;
    color: white;
    background-color: #FF4F5A;
    padding: 6px 10px;
    border-radius: 50px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
}
/* --------------
    Footer
--------------- */
footer {
    margin-top: 100px;
    background-color: rgb(13, 13, 46);
    color: white;
    text-align: center;
    padding: 35px;
}
.footer-h2{
    font-size: 24px;
    font-weight: 400;
}
.footer-p{
    font-size: 14px;
    font-weight:200;
}